<!DOCTYPE html>
<html>
  <head>
    <title>PhoneBookApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="main-div">
      <h1 class="app-title">Phone Book App</h1>
      <%= yield %>
    </div>
  </body>
</html>

<style>
  .main-div {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    width: 622px;
    padding: 5%;
    padding-top: 0%;
    margin: auto;
  }

  h2 {
      margin: 0px;
      margin-bottom: 10px;
  }

  .app-title {
    text-align: center;
  }

  .primary-button {
    background-color: #427CEE;
    color: #F7F7FD;
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    text-decoration: none;
  }

  .danger-button {
    background-color: #BD4E4E;
    color: #F7F7FD;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    height: fit-content;
  }

  .field-input {
    border: 1px #D6DADD solid;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
  }
</style>
